<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p class="lead">Welcome to <%= title %>. Play Connect N VS an AI using the <a href="https://en.wikipedia.org/wiki/Negamax">Negamax</a> algorithm. Here you are allowed to play
  with a board of variable size and can also choose the number of tokens you need to line up to win the game. The default
  configuation is the same as Connect 4.</p>

  <p><strong>Instructions:</strong> Drag the game peice on the right onto the board to play.</p>

  <p><strong>Rules:</strong> The same as <a href="https://www.gamesver.com/the-rules-of-connect-4-according-to-m-bradley-hasbro/">Connect 4</a>.</p>

  <div class="my-3">

    <!-- Dropdown to select to play as player 1 or 2 -->
    <div class="my-2 input-group">
      <span class="input-group-text">Player Select</span>
      <select id="player_select" class="form-select" aria-label="Player Select" 
      onchange="restart_game()">
        <option selected value="1">Player 1</option>
        <option value="2">Player 2</option>
      </select>
    </div>

    <!-- Dropdowns to select the board height -->
    <div class="row">
      <div class="col input-group my-2">
        <span class="input-group-text">Board Height</span>
        <select id="board_height_select" class="col form-select" aria-label="Board Height Select" 
        onchange="restart_game()">
          <option selected value="6">6</option>
          <% for(let i=7; i<=10; i++){ %>
            <option value="<%= i %>">
              <%= i %>
            </option>
            <% } %>
        </select>
      </div>

      <!-- Dropdowns to select the board width -->
      <div class="col input-group my-2">
        <span class="input-group-text">Board Width</span>
        <select id="board_width_select" class="col form-select" aria-label="Board Width Select" 
        onchange="restart_game()">
          <option selected value="7">7</option>
          <% for(let i=8; i<=12; i++){ %>
            <option value="<%= i %>">
              <%= i %>
            </option>
            <% } %>
        </select>
      </div>

      <!-- Dropdown to select the number of tokens to line up to win the game -->
      <div class="input-group my-2">
        <span class="input-group-text">Number of Tokens Lined up to Win</span>
        <select id="num_tokens_select" class="col form-select" aria-label="Number of Tokens Lined up to Win Select" 
        onchange="restart_game()">
          <option selected value="3">3</option>
          <option selected value="4">4</option>
          <% for(let i=5; i<=7; i++){ %>
            <option value="<%= i %>">
              <%= i %>
            </option>
            <% } %>
        </select>
      </div>

    </div>

    <button class="my-2 btn btn-warning btn-md" type="button" onclick="restart_game()">Restart Game</button>
  </div>


  <!-- <div id="game-container" style="border-style: solid; padding:2px 4px;"></div> -->

  <div id="game-container"></div>



  <script src="https://unpkg.com/konva@8.0.4/konva.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/board.js"></script>
  <script type="text/javascript" src="/javascripts/game.js"></script>
</body>

</html>